<configuration>

  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>
        %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
      </Pattern>
    </layout>
  </appender>

  <appender name="async" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="console" />
  </appender>

  <logger name="org.apache" level="info"/>
  <logger name="org.springframework" level="info"/>
  <logger name="org.hibernate" level="info"/>
  <logger name="org.reflections" level="info"/>
  <logger name="com.esl" level="debug" />
  <logger name="org.springframework.web.filter.CommonsRequestLoggingFilter" level="debug" />
  <logger name="com.zaxxer.hikari" level="warn"/>

  <root level="info">
    <appender-ref ref="async" />
  </root>
</configuration>
