version: '3.7'

services:
  esl-mysql:
    image: mysql/mysql-server:8.0
    deploy:
      mode: global
    volumes:
      - esl-mysql-data:/var/lib/mysql
    environment:
      MYSQL_USER: {{ mysql_user }}
      MYSQL_PASSWORD: {{ mysql_password }}
      MYSQL_DATABASE: {{ mysql_database }}
    networks:
      - overlay
    ports:
      - 13306:3306
    logging:
      driver: "json-file"
      options:
        max-file: 2
        max-size: 10m

  esl-rest:
    image: thcathy/esl-rest:{{ docker_image_tag }}
    deploy:
      mode: replicated
      replicas: 1
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.{{ app_name }}.rule=Host(`{{ inventory_hostname }}`) && PathPrefix(`/{{ app_name }}`)"
        - "traefik.http.routers.{{ app_name }}.middlewares={{ app_name }}-prefix@docker"
        - "traefik.http.routers.{{ app_name }}.tls.certresolver=myresolver"
        - "traefik.http.routers.{{ app_name }}.entrypoints=websecure"
        - "traefik.http.services.{{ app_name }}.loadbalancer.server.port=8080"
        - "traefik.http.middlewares.{{ app_name }}-prefix.stripprefix.prefixes=/{{ app_name }}"
        - "traefik.docker.network={{ traefik_network }}"
      update_config:
        delay: 10s
        failure_action: rollback
        order: start-first
    environment:
      MYSQL_HOST: esl-mysql:3306
      APISERVER_HOST: {{ apiserver_host }}
      MYSQL_USER: {{ mysql_user }}
      MYSQL_PASSWORD: {{ mysql_password }}
      MYSQL_DATABASE: {{ mysql_database }}
    networks:
      - overlay
      - {{ traefik_network }}
    logging:
      driver: "json-file"
      options:
        max-file: 2
        max-size: 10m

volumes:
  esl-mysql-data:

networks:
  overlay:
  {{ traefik_network }}:
    external: true
